.Table,
table,
thead,
tbody,
tr {
    width: 100%;
}

tr {
    display: flex;
    border-bottom: solid black 1px;
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
}

tbody tr:nth-child(2n+1) {
    background-color: #f9f9f9;
}

tbody tr:hover {
    background-color: #f6f6f6;
}

.td-no-result {
    width: 100%;
    text-align: center;
}

.Table .th-icons {
    display: flex;
    flex-direction: column;
    margin-left: 0.5rem;
}

.Table th {
    display: flex;
    cursor: pointer;
}

.Table .th-icons {
    position: relative;
}

.arrow-up {
    width: 0;
    height: 0;
    position: absolute;
    top: 0.1rem;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #ddd;
}

.arrow-down {
    width: 0;
    height: 0;
    position: absolute;
    bottom: 0.1rem;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid #ddd;
}

.arrow-up.sort {
    border-bottom: 5px solid cadetblue;
}

.arrow-down.sort {
    border-top: 5px solid cadetblue;
}